# Multi Object Tracker
ipywidgets==8.0.4
motrackers

# GPMF Parsing
telemetry_parser>=0.2.8

# YOLOv5
yolov5>=7.0.0
pafy>=0.5.5
youtube_dl==2020.12.2

pycairo>=1.21.0
click>=8.0.0
types-PyYAML

# UI
dearpygui>=1.4.0
