# Multi Object Tracker
ipyfilechooser>=0.6.0
-e git+https://github.com/adipandas/multi-object-tracker#egg=multi-object-tracker

# YOLOv5
yolov5>=6.1.0,<=6.1.6
pafy>=0.5.5
youtube_dl==2020.12.2

pycairo>=1.21.0
click>=8.0.0
types-PyYAML

# UI
dearpygui>=1.4.0

# macOS
coremltools>=5.2.0; sys_platform == 'darwin'
